.vscode/**
.vscode-test/**
src/**
webview/**
out/**
node_modules/**
engine/**
scripts/**
samples/**
stress/**
stress1m/**
.gitignore
tsconfig.json
esbuild.mjs
package-lock.json
require.md
media/webview.js.map
**/*.map
**/*.ts
!dist/extension.js
!media/**
!engines/**
!docs/**
!README.md
!CHANGELOG.md
!LICENSE
media/webview.js.map
dist/extension.js.map
